@tailwind base;
@tailwind components;
@tailwind utilities;

/* html {
    background: url('https://images.pexels.com/photos/14751274/pexels-photo-14751274.jpeg');
    background-size: cover;
} */

@layer utilities {
    .clip-login {
        clip-path: polygon(0 0, 45% 0, 62% 100%, 0% 100%);
    }
    .text-underline-stroke {
        -webkit-text-stroke: 1px #fff;
        color: transparent;
    }
}